.apresentacao{
    background-color: #111457;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.bodyform{
    background: -webkit-linear-gradient(left, purple, #111457);

}
.primeiralogo1{
    background-color: #46295a;
}
.mediaSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}
.butao{
    background-color: purple;
    color: white;
    
    border-color: black;
    padding: 10px 10px 0 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
padding-top: 10px;

margin-bottom: -40px;
}
.butao :active{
    background-color: rgb(240, 76, 240);
    color: white;
    
    border-color: black;
    padding: 10px 10px 0 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
padding-top: 10px;
}
@media(min-width: 800px){
    .primeiralogo{
        display: flex;
    
        width: 50%;

    }
    .alinhar {
        background-color: black;
        align-items: center;
    }
    .primeiralogo img{
        display: flex;
   
        max-width:600px;
        height:auto;
        padding: 20px;
        margin-left: 180px;
        justify-content: center;
        overflow: hidden;
        flex-grow: 1
    }
    .segundalogo{
        display: flex;
        width: 50%;
        flex-grow:1;
        align-items: center;
       padding-right:  20px;
      
        font-family: 'Open Sans Condensed', sans-serif;
  
    }
    .segundalogo h1{ 
        color: purple;
        margin-left: -20px;
        font-weight: 600;
        text-align: center;
        letter-spacing:2px
  
    }
   
    .segundalogo h4{ padding: 20px ;
        color: #fff;
        align-items: center;
        text-align: center;
        font-size: 18pt;
    }
      
    .segundalogo h2{ padding: 20px ;
        color: #fff;
        align-items: center;
        text-align: center;
        font-size: 35pt;
    }
    .apresentacao{
      height: 80vh;
    }
    .carta-servicos{
        background-color: purple;
        color: white;
        align-items: center;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
    }
    .carta-servicos2{
        background-color:#1114579a;
        color: white;
      display: flex;
      flex-direction: column;
        font-family: 'Bebas Neue', cursive;
    }
    .direita{
        align-items: center;
        justify-content: start;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .esqueda{
        align-items: center;
        color: #f2f2f2;
    justify-content: end;
    text-align: end;
    margin-top: 30px;
    margin-bottom: 30px;
    }
}
@media(max-width: 800px){
    .primeiralogo{
        display: flex;
        justify-content: center;
       
    }
    .segundalogo h4{ padding: 20px ;
        color: #fff;
        align-items: center;
        text-align: center;
        
    }
    .apresentacao{
        flex-direction: column;
    }
    .primeiralogo img{
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        justify-content: center;
        padding: 20px;
     
    }  .segundalogo{
        display: flex;

      justify-content: center;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
     
    }
    .segundalogo h1{ 
  
        font-weight: 600;
     
  
    }
  
    .segundalogo p{ padding: 20px ;
        color: #fff;
        font-size: 20pt;
    }
    .carta-servicos{
        background-color: purple;
        color: white;
        align-items: center;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
    }
    .carta-servicos2{
        background-color: #11145781;
        color: white;
      display: flex;
      flex-direction: column;
        font-family: 'Bebas Neue', cursive;
    }
    .direita{
        align-items: center;
        justify-content: start;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .esqueda{
        align-items: center;
        color: #f3f3f3;
    justify-content: end;
    text-align: end;
    margin-top: 30px;
    margin-bottom: 30px;
    }
}
.glow {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }
  }